<div class="row">
    <div class="col-lg-8 col-sm-8">
        <div class="box shadow-1">
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
        <div class="box shadow-1 post-container">
            <textarea class="post-area" placeholder="Write something..."></textarea><br>
            <i class="material-icons btn">photo_camera</i>
            <i class="material-icons btn">videocam</i>
            <button type="button" class="btn btn-info btn-sm float-right post-btn">POST</button>
        </div>
    </div>
</div>