<div class="login-body">
    <div class="login-container">
        <h4>Log In</h4><br>

        <a style="background-color: #DD4B39;color: #fff;" class="btn btn" (click)="googleLogin()">
            <i class="fa fa-google" aria-hidden="true" style="margin-right: 8px;"></i> Sign with google
        </a><br><br>
        <a style="background-color: #4C69BA;color: #fff;" class="btn" (click)="facebookLogin()">
            <i class="fa fa-facebook" aria-hidden="true" style="margin-right: 8px;"></i> Sign with facebook
        </a><br><br>
        <a style="background-color: #222;color: #fff;"  class="btn" (click)="facebookLogin()">
            <i class="fa fa-facebook" aria-hidden="true" style="margin-right: 8px;"></i> Sign with github
        </a><br><br>
        <a style="color: #fff;" class="btn btn-info" (click)="facebookLogin()">
            <i class="fa fa-facebook" aria-hidden="true" style="margin-right: 8px;"></i> Sign with twitter
        </a>
    </div>
</div>
